/server/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/.idea
/server/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpstorm.meta.php
_ide_helper.php