@import '../../styles/variables';
@import '../../styles/colors';

.editor-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $sidebar-width;
  transition: left $transition-duration;

  & > .no-note-message-container {
    position: absolute;
    top: 40%;
    display: block;
    left: 0;
    right: 0;
  }
}